.main-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.page-heading-1 {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(255 255 255);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-text {
  text-align: center;
  font-size: 25px;
  line-height: 1.75rem;
  color: rgb(255 255 255);
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .page-heading-1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.game-card {
  --gap-count: calc(var(4) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(4));
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(220px)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

.home-section {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-container {
  position: relative;
}

.main-images {
  border-radius: 1rem;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.home-container {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto;
}

.home-instrutions-container {
  width: 500px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-text {
  color: wheat;
}

.game-link {
  position: relative;
}

.val-text {
  color: #fa4454;
  font-size: 19px;
}

.image-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.image-container:hover .overlay {
  opacity: 1;
}

.main-images {
  height: 360px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-images {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .main-images {
    height: 120px;
    width: auto;
  }

  .main-overlay {
    height: 40px;
    width: auto;
  }

  .home-container {
    max-width: 100%;
  }

  .margin-right {
    margin-left: 1rem;
  }
}

.main-images,
.overlay {
  border-radius: 10px;
  margin-left: 0.5rem;
}

.margin-right {
  margin-right: 1rem;
}

.submit-button {
  background-color: #fa4454;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.5s;
}