.game-btn {
  background-color: white; /* Sets the background color of the button to white */
  border-radius: 15px; /* Gives the button rounded corners. Adjust the value as needed */
  padding: 10px 20px; /* Optional: adds some padding inside the button for better appearance */
  font-size: 20px; /* Optional: adjusts the font size */
  text-decoration: none;
  color: black;
  margin-top: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

.home-logo {
  width: 700px;
}

.multiplayer-container {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arranges children (the buttons) in a column */
  justify-content: center; /* Centers the buttons vertically */
  align-items: center; /* Centers the buttons horizontally */
  gap: 10px; /* Adds space between the buttons */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.leave-queue-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d; /* A red color for the leave button */
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Remove the outline to make it look better */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.leave-queue-btn:hover {
  background-color: #cc0000; /* Darker shade of red on hover */
}

.navlink {
  text-decoration: none;
  color: black;
}

/* GamePage.css */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  justify-content: space-between;
  margin-top: 3rem;
}

.top-info {
  display: flex; /* Aligns children in a row */
  width: 100%; /* Adjust the width as needed */
  padding: 15px;
  justify-content: space-around; /* This will space the child elements evenly */
}

.youtube-wrapper .video {
  width: 1000px;
  height: 550px;
}

.spacing-div {
  height: 100px;
}

.navlink-btn {
  text-decoration: none;
  color: black;
}
