* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

html {
  color: #f3f4f6;
  background-color: #12131e;
}

header {
  z-index: 10;
  border-bottom: 0.0625rem solid rgba(161, 169, 186, 0.25);
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav a {
  margin: 0 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 8px;
}

.logo {
  width: 250px;
  height: 50px;
  margin: 0 10px;
}

.nav svg {
  height: 1rem;
  width: auto;
}

/* Leaderboard CSS  */

.result-title {
  margin-bottom: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  text-align: center;
  margin-top: 1rem;
  color: white;
  border: none;
}

.submit-btn {
  background-color: #01ccff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 400;
  height: clamp(30px, 4vw, 45px);
  margin-top: 1rem;
  outline: none;
  padding: clamp(1px, 1vw, 6px) clamp(3px, 2vw, 15px);
  width: 100%;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  font: 25px Helvetica, sans-serif;
}

.settings-container span {
  margin-left: 1rem;
}

.settings-container p {
  margin-top: 1rem;
}

.bottom-img {
  margin-right: 1rem;
}

.report-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.report-align {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-align: center;
}

.report-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  padding: clamp(1px, 1vw, 6px) clamp(3px, 2vw, 15px);
  width: fit-content;
}

.nav-link:after {    
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

/* Media Queries */
@media (max-width: 768px) {
  .modal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    width: 100%;
  }

  .nav-container {
    flex-direction: column;
    padding: 10px;
    margin-left: 0;
  }

.nav-container{
  height: 80px;
}

  .nav ul {
    margin-top: 10px;
    justify-content: center;
    font-size: 8px;
  }

  .nav svg {
    height: 0;
    width: auto;
  }

  .nav-link {
    white-space: nowrap;
  }

  .logo {
    width: 60px;
    height: auto;
  }

  .nav a {
    margin: 0 1rem;
    font-size: 15px; 
   }

  .button-container {
    width: 200px;
  }

  .btn {
    width: 350px;
  }
}