.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
}

.profile-container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.stats-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100px;
    background-color: #4A5568;
    border-radius: 10px;
}

.stats {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-container h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-left: 2rem;
    text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 6rem;
}

@media screen and (max-width: 768px) {
  .stats-btn {
    width: 100%;
  }
  
  .button-container {
    width: 100%;
  }
  
  .profile-container {
    text-align: center;
  }
  
  .stats-container {
    width: 100%;
  }
  
  .stats {
    margin-bottom: 10px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border-bottom: 0.5px solid #3a3939;
}

.pagination-button {
  background-color: #0772d6;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 400;
  margin-top: 1rem;
  outline: none;
  padding: clamp(1px, 1vw, 6px) clamp(3px, 2vw, 15px);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 200px;
}

.stats-btn {
  background-color: #443f3f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 400;
  height: 28px;
  margin-top: 1rem;
  outline: none;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .stats-btn {
    width: 100%;
  }

  .button-container {
    width: 100%;
  }
}

.profile-container {
  text-align: center;
}

.stats-container {
  display: flex;
}

.stats {
  margin-bottom: 10px;
}


#main-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  flex-direction: column;
}