* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

html {
  background-color: #292929;
}

.app {
  display: flex;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background-color: teal;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

.sidebar a {
  display: grid;
  grid-template-columns: auto;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

.links {
  display: none;
  font-size: 25px;
  margin-top: 10px;
}

.images {
  height: auto;
  width: 80px;
  margin-right: 8px;
}

.gamepad-link {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 5rem;
}