* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

html {
  background-color: #292929;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

h2,
.tos {
  color: white;
  margin-top: 2rem;
}

.tos {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  height: 100%;
  width: 260px;
  background-color: rgb(31, 29, 29);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

.sidebar a {
  display: grid;
  grid-template-columns: auto;
  color: #fff;
  text-decoration: none;
}

.links {
  display: none;
  font-size: 18px;
  margin-top: 10px;
}

.link {
  font-size: 25px;
  margin-left: 10px;
}

.images {
  height: auto;
  width: 75px;
}

.game-link {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: clamp(0.2em, 4vw, 1rem);
  gap: 0.2pc;
  justify-content: flex-start;
  min-height: 30px;
  overflow: hidden;
  padding: clamp(0px, 2vw, 10px) 0 clamp(0px, 2vw, 10px) clamp(0px, 2vw, 10px);
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.home-link,
.bottom-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .logo img {
    height: 50px;
    width: 300px;
    margin-left: 3rem;
    margin-top: 1rem;
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

.main-images {
  height: auto;
  width: 12.5%;
  margin-right: 1.5rem;
}

.main-images:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.gamecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main-images {
    height: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: rgb(31, 29, 29);
    overflow-x: hidden;
    padding-top: 20px;
  }
}

.video {
  z-index: 1;
}

.youtube-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .youtube-wrapper {
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding-top: 56.25%;
    margin-left: 0;
  }

  .video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .sidebar.active {
    z-index: 2;
  }
}

.game-container {
  margin-left: 5rem;
}

.ranks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rank {
  width: 100px;
  height: 100px;
  border-radius: 10rem;
}

@media screen and (max-width: 768px) {
  .rank {
    width: 40px;
    height: 40px;
    border-radius: 10rem;
  }
}

.rank:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.immortal,
.iron,
.gold,
.silver,
.plat,
.diamond,
.bronze,
.radiant,
.asc {
  margin: 0;
  cursor: pointer;
  border-radius: 3rem;
}

.silver,
.plat {
  margin-right: 10px;
}

.diamond,
.gold,
.asc,
.immortal {
  margin-right: 15px;
}

.radiant {
  margin-left: 15px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #292929;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin: 9% auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: rgb(39, 36, 36);
  color: white;
  height: auto;
  width: 500px;
}

.modal-title {
  text-align: center;
}

.modal-example {
  border-width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-left: 1.7rem;
}

.modal-example-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-example-rad {
  margin-left: 1rem;
}

.modal-example-iron {
  margin-left: 2rem;
}

.modal-example-wrong {
  margin-top: 0.7rem;
}

.result-title {
  margin-bottom: 1rem;
}

.modal-a-tag {
  color: #01ccff;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 4vw, 30px);
  width: clamp(220px, 95%, 1000px);
}

.form {
  width: 400px;
  padding: 20px;
}

.select-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}

.select {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-size: clamp(0.9rem, 3vw, 1.3rem);
  font-weight: 400;
  height: clamp(30px, 4vw, 45px);
  justify-content: flex-start;
  max-width: 600px;
}

.form-input,
option,
select,
textarea {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--input-text-color);
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 400;
  height: clamp(30px, 4vw, 45px);
  margin: initial;
  outline: none;
  padding: clamp(1px, 1vw, 6px) clamp(3px, 2vw, 15px);
  width: 100%;
  margin-top: 1rem;
}

.form-input,
option {
  height: clamp(30px, 4vw, 45px);
}

.form-label,
.text,
.login-text,
.error-message,
.howto {
  color: white;
}

.form-label {
  margin-left: 5px;
  margin-top: 1rem;
}

.text {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submission-list,
.form-checkbox,
.other-links {
  margin-top: 1rem;
}

.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  height: 5vh;
}

th {
  background-color: #f2f2f2;
}

td,
.login-text {
  text-align: center;
  margin-top: 1rem;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.signup-atag {
  color: #01ccff;
}

.error-message {
  color: red;
}

.submit-btn {
  background-color: #01ccff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  font-weight: 400;
  height: clamp(30px, 4vw, 45px);
  margin-top: 1rem;
  outline: none;
  padding: clamp(1px, 1vw, 6px) clamp(3px, 2vw, 15px);
  width: 100%;
}

.howto {
  cursor: pointer;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    width: 100%;
  }
}

.X {
  cursor: pointer;
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  color: white;
  font: 25px Helvetica, sans-serif;
  text-align: center;
}

.settings-container span {
  margin-left: 1rem;
}

.settings-container p {
  margin-top: 1rem;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  color: white;
  font: 25px Helvetica, sans-serif;
  text-align: center;
}

.reset-text {
  color: #ff0000;
  cursor: pointer;
  text-decoration: underline;
}

.home-container {
  display: flex;
  justify-content: center;
  color: white;
}

.home-instrutions-container {
  /* make it a small box with a gray border */
  border: 2px solid gray;
  padding: 10px;
  width: 500px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-text {
  color: wheat;
}

.bottom-img {
  margin-right: 1rem;
}

.report-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.report-align {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-align: center;
}

.report-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  padding: clamp(1px, 1vw, 6px) clamp(3px, 2vw, 15px);
  width: fit-content;
}
